
/* Hero Section (cobreix la capçalera en mòbils) */

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    overflow: hidden; /* Evita que el vídeo es vegi fora de la secció */
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('background-placeholder.jpg'); /* Fons mentre el vídeo es carrega */
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s ease; /* Suavitzar l'aparició del vídeo */
}

.video-background[autoplay] {
    opacity: 1;
}

/* Ajust per a dispositius mòbils */
@media (max-width: 768px) {
    .video-background {
        position: absolute; /* Canvia a posicionament absolut per mòbils */
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
}


.hero-text {
    z-index: 1;
}

.hero-text h1 {
    font-size: 72px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.hero-text h1 span {
    color: #038f81;
}

.hero-text p {
    font-size: 24px;
    margin-top: 10px;
    font-weight: 300;
}

.scroll-down {
    font-size: 32px;
    color: #038f81;
    margin-top: 30px;
    cursor: pointer;
}