/* Reseteig bàsic */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipografia i colors */
body {
    font-family: 'Georgia', serif;
    color: #555;
    background-color: #f9f9f9;
}

/* Estils per a la secció de benvinguda (hero) amb vídeo */
.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* El vídeo està darrere del text */
}

.hero-text {
    position: relative;
    z-index: 1; /* El text està sobre el vídeo */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.hero-text h1 {
    font-size: 64px;
    color: #fff;
    /* font-family: 'Dancing Script', cursive; */  /* Puedes eliminar o cambiar esta línea */
}

.hero-text p {
    font-size: 24px;
    color: #fff;
    margin: 10px 0;
}

.scroll-down {
    font-size: 32px;
    color: #fff;
    margin-top: 20px;
    text-decoration: none;
    cursor: pointer;
}

/* Estils per a la secció de detalls */
.detalls {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detall-item {
    flex: 1;
    text-align: center;
    margin: 0 20px;
}

.detall-item h2 {
    font-size: 32px;
    color: #8b7b5b;
}

.detall-item p {
    font-size: 18px;
    margin-top: 10px;
    color: #666;
}

/* Secció d'història */
.historia {
    padding: 40px;
    text-align: center;
    background-color: #f3efe4;
}

.historia h2 {
    font-size: 36px;
    color: #8b7b5b;
    margin-bottom: 20px;
}

.historia p {
    font-size: 18px;
    color: #555;
}

/* Responsivitat bàsica */
@media (max-width: 768px) {
    .detalls {
        flex-direction: column;
        padding: 20px;
    }

    .detall-item {
        margin: 20px 0;
    }
}
